counter:
  INCR: 'INCR'
  DECR: 'DECR'

post:
  FETCH_POST: 'FETCH_POST'
  CREATE_POST: 'CREATE_POST'
  RESET_POST: 'RESET_POST'
  DELETE_POST: 'DELETE_POST'

posts:
  FETCH_POSTS: 'FETCH_POSTS'
  RESET_POSTS: 'RESET_POSTS'

status:
  SUCCESS: '_SUCCESS'
  FAILURE: '_FAILURE'
  RESET: 'RESET_'

validate:
  VALIDATE_FIELDS: 'VALIDATE_FIELDS'
  VALIDATE_FIELDS_SUCCESS: 'VALIDATE_FIELDS_SUCCESS'
  VALIDATE_FIELDS_FAILURE: 'VALIDATE_FIELDS_FAILURE'
  RESET_VALIDATE_USER_FIELDS: 'RESET_VALIDATE_USER_FIELDS'
